name: Docker-Ci-PipeLine
on:
  push:
    branches:
      - main
    paths-ignore:
      - '.github/**'
      - 'sample/**'
      - 'README.md'
      - 'CONTRIBUTING.md'
      - 'LICENSE'

jobs:
  dockerci-job:
    runs-on: ubuntu-24.04
    steps:
     - name: Code Checkout
      uses: actions/checkout@v6
     - name: Build image
        run: sudo docker build -t ${{ vars.DOCKER_USERNAME }}/az-helloworld-demo-py:v1 .
 
      - name: Verify Image
        run: sudo docker images
        
      - name: create container
        run: docker run  --name pythonapp -itd -p 8080:8080 ${{ vars.DOCKER_USERNAME }}/az-helloworld-demo-py:v1
      -  name: sleep
         run: sleep 20
         
      - name: view container
        run: docker ps
        
      - name: check output
        run: curl -f http://localhost:8080
        
      - name: Docker Login
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_SECRET }}

      - name: push image
        run: docker push ${{ vars.DOCKER_USERNAME }}/az-helloworld-demo-py:v1

      - name: container cleanup
        run: docker rm -f pythonapp  

k8scd-job:

    needs: dockerci-job

    runs-on: ubuntu-latest

    steps:

      - name: Code Checkout

        uses: actions/checkout@v6
 
      - name: start minikube

        uses: medyagh/setup-minikube@latest
 
      - name: test-kube

        run: kubectl get pods -A
 
      - name: apply-yaml

        run: |

          kubectl apply -f k8s/namespace.yaml

          kubectl apply -f k8s/deployment.yaml

          kubectl apply -f k8s/py-np-service.yaml
 
      - name: Wait

        run: |

          kubectl config set-context --current --namespace=pythonapp-ns

          kubectl wait --for=condition=ready pod -l app=pythonapp

#        run: sleep 30

      - name: get status

        run: |

          kubectl get ns

          kubectl get svc -n pythonapp-ns

          kubectl get pods -n pythonapp-ns -o wide 

          kubectl get pods --show-labels

      - name: test the app

        run: | 

          minikube service list

          minikube service py-np-service --url

          echo -n "------------------opening the service------------------"

          curl $(minikube service py-np-service --url)/version
